@media screen and (max-width: 37.5em) {
	header .wwsuit-copy-group,
	header .wp-block-spacer {
		display: none;
	}

	body header .wwsuit-logo-group {
		margin: 0 auto;
		flex-basis: auto;
	}

	body header .wwsuit-logo-group .wp-block-site-logo {
		max-width: none;
		margin: 1.3em !important;
	}

	body header .wwsuit-logo-group .wp-block-site-logo img {
		max-height: 7.2em;
	}
}